:root {
    --c-primary: #4eac6d;
    --c-green: #39a214;
    --c-tick-green: #06d6a0;
    --c-light-green: #edf7f0;
    --c-medium-green: #b2f2bb;
    --c-shadow-green: #8ce99a;
    --c-teal: #06d6a0;
    --c-bg-active: rgba(246, 246, 249, .25);
    --c-gray: #495057;
    --c-dark-gray: #2e2e2e;
    --c-light-gray: #878a92;
    --c-mild-gray: #e1e3e4;
    --c-light: #f6f6f9;
    --c-white: #fff;
    --c-shadow: #dfdfdf80;
    --c-light-blue: #d0ebff
}